form(action="/users/search")
    input(type="text",name="q",value=values)
    button search
a(href="/") home
a(href="/users/create")
ul  
    each user in users
        li
            span=user.name  
            span &nbsp
            a(href="/users/view/"+user.id) view